
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>We will be Back to you Soon</strong></p>
        <hr>
        <p>
            Need an Emergency Laundry Service? <a href="">Contact us at: +977-9866027202</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/Home/Index" role="button">Continue to homepage</a>
        </p>
    </div>
