
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <body>

        <!-- Load page -->
        <div class="animationload">
            <div class="loader"></div>
        </div>
        <!-- BANNER ROTATOR -->
        <div class="section subbanner" style="        background: url('../../HomeContents/images/slide_page.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="caption">
                            <h3>About Us</h3>
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ABOUT SECTION -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="page-title">
                            <h2 class="lead">WELCOME TO LAUNDRYES</h2>
                            <p class="sublead">This template is designed with a unique and simple, so that it can promote and laundry business solution.</p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 col-md-6">
                        <div class="about-img">
                            <img src="images/about_history-u24541-fr.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="about-wrap">
                            <h4 class="title-page">OUR HISTORY</h4>
                            <p>This template is a micro niche for business categories, namely laundry business. there was an excess of this template is using adobe muse making it easier to edit, add content, and without having to use the coding in the edit.</p>
                            <p>This template is designed with a unique and simple, so that it can promote and laundry business solution. This template can be an alternative for entrepreneurs engaged in the laundry. or could be an alternative for web developers who need to design websites laundry kategory business.</p>
                            <p>As for the advantages of this template is multipage template which consists of a homepage, about page, services page, pricing page, faq page, blog and contact page. so that it can describe all the requirements needed for a business website.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="why-item-wrap">
                        <div class="col-xs-12 col-md-4">
                            <div class="why-item">
                                <div class="icon">
                                    <div class="fa fa-paper-plane-o"></div>
                                </div>
                                <div class="ket">
                                    <h4>OUR VISION</h4>
                                    <p>Our templates price really affordable. Only $21 for one beutiful templates, you will get free update and awesome support from us. Still thinking to buy?</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="why-item">
                                <div class="icon">
                                    <div class="fa fa-crosshairs"></div>
                                </div>
                                <div class="ket">
                                    <h4>OUR MISSION</h4>
                                    <p>Of course this is muse templates, you dont need to writing code to edit, you just need to drag and drop your images and change like photoshop. Easy Right!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="why-item">
                                <div class="icon">
                                    <div class="fa fa-leaf"></div>
                                </div>
                                <div class="ket">
                                    <h4>OUR STRENGTHS</h4>
                                    <p>Easy to edit color, font, icon, or costumizable layout. You can edit with the tool in adobe muse. Everything easy to change and editing.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
</body>

