
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Load page -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- BANNER ROTATOR -->
<div class="section subbanner" style="        background: url('../../HomeContents/images/slide_page.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="caption">
                    <h3>Pricing</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Pricing</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>




<!-- ABOUT SECTION -->
<div id="services" class="section services">
    <div class="container">
        <!--  -->
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-title">
                    <h2 class="lead">OUR PRICING TABLE</h2>
                    <p class="sublead">We have very offordable price so that everyone can pay for the service easily.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-3">
                <div class="panel panel-default panel-pricing wow fadeInDown">
                    <header class="panel-heading">
                        <h3>Regular Bag</h3>
                        <div class="price">
                            <sup>Rs</sup>2000
                        </div>
                    </header>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr><td>15 lbs</td></tr>
                                <tr><td>Home Delivery</td></tr>
                                <tr><td>Ironing</td></tr>
                                <tr><td>Perfume</td></tr>
                                <tr><td>1 Day Finish</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <footer class="panel-footer">
                        <a href="#" class="btn btn-primary btn-block">ORDER NOW</a>
                    </footer>
                </div>

            </div>

            <div class="col-sm-12 col-md-3">
                <div class="panel panel-default panel-pricing wow fadeInDown">
                    <header class="panel-heading">
                        <h3>Medium Bag</h3>
                        <div class="price">
                            <sup>Rs</sup>3000
                        </div>
                    </header>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr><td>30 lbs</td></tr>
                                <tr><td>Home Delivery</td></tr>
                                <tr><td>Ironing</td></tr>
                                <tr><td>Perfume</td></tr>
                                <tr><td>1 Day Finish</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <footer class="panel-footer">
                        <a href="#" class="btn btn-primary btn-block">ORDER NOW</a>
                    </footer>
                </div>

            </div>

            <div class="col-sm-12 col-md-3">
                <div class="panel panel-default panel-pricing wow fadeInDown">
                    <header class="panel-heading">
                        <h3>Large Bag</h3>
                        <div class="price">
                            <sup>Rs</sup>4000
                        </div>
                    </header>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr><td>40 lbs</td></tr>
                                <tr><td>Home Delivery</td></tr>
                                <tr><td>Ironing</td></tr>
                                <tr><td>Perfume</td></tr>
                                <tr><td>1 Day Finish</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <footer class="panel-footer">
                        <a href="#" class="btn btn-primary btn-block">ORDER NOW</a>
                    </footer>
                </div>

            </div>

            <div class="col-sm-12 col-md-3">
                <div class="panel panel-default panel-pricing wow fadeInDown">
                    <header class="panel-heading">
                        <h3>XLarge Bag</h3>
                        <div class="price">
                            <sup>Rs</sup>5000
                        </div>
                    </header>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr><td>70 lbs</td></tr>
                                <tr><td>Home Delivery</td></tr>
                                <tr><td>Ironing</td></tr>
                                <tr><td>Perfume</td></tr>
                                <tr><td>1 Day Finish</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <footer class="panel-footer">
                        <a href="#" class="btn btn-primary btn-block">ORDER NOW</a>
                    </footer>
                </div>

            </div>



        </div>

        <!--  -->
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-title">
                    <h2 class="lead">MORE DETAIL PRICE</h2>
                    <p class="sublead">See here for price in more detail</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="price-detail">
                    <div class="price-detail-heading">Dry Cleaning.</div>
                    <div class="price-detail-body">
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>All Shirts</div>
                            <div class="item-price">$ 1.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Pants, Jeans, Skirt</div>
                            <div class="item-price">$ 2.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Sweeters</div>
                            <div class="item-price">$ 6.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Tie, Scarf</div>
                            <div class="item-price">$ 5.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Coat, Heavy Jacket, Dress</div>
                            <div class="item-price">$ 10.50</div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="price-detail">
                    <div class="price-detail-heading">Laundry Press.</div>
                    <div class="price-detail-body">
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Sheets</div>
                            <div class="item-price">$ 1.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Pillowcases</div>
                            <div class="item-price">$ 2.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Duvet Covers</div>
                            <div class="item-price">$ 6.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Bed Covers</div>
                            <div class="item-price">$ 5.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Gorden</div>
                            <div class="item-price">$ 10.50</div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="price-detail">
                    <div class="price-detail-heading">Special Items.</div>
                    <div class="price-detail-body">
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Fancy Dresses</div>
                            <div class="item-price">$ 1.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Comforters</div>
                            <div class="item-price">$ 2.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Handkerchief</div>
                            <div class="item-price">$ 6.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Tuxedo Shirt</div>
                            <div class="item-price">$ 5.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Polo (laundered short sleeve)</div>
                            <div class="item-price">$ 10.50</div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="price-detail">
                    <div class="price-detail-heading">Leather Items.</div>
                    <div class="price-detail-body">
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Fancy Dresses</div>
                            <div class="item-price">$ 21.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Comforters</div>
                            <div class="item-price">$ 22.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Handkerchief</div>
                            <div class="item-price">$ 16.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Tuxedo Shirt</div>
                            <div class="item-price">$ 85.50</div>
                        </div>
                        <div class="item">
                            <div class="item-name"><i class="fa fa-check-circle"></i>Polo (laundered short sleeve)</div>
                            <div class="item-price">$ 6.50</div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-md-12">

                <p class="more-info-price">
                    Get discount 10% if you join our membership. <br />
                    Leather items (1 - 2 weeks finish). <br />
                    Don't worry if your items not listed here, <a href="mailto:info@elaundrynepal.com.np" title="">Send Us Message</a> and we will take care of it.
                </p>
            </div>
        </div>



    </div>
</div>



